<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b466">  <td>19/02/23 02:17:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testlogin()[pri:0, instance:tests.LoginTest@d8062c]">testlogin</td> 
  <td>main@12533012</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>19/02/23 02:18:04</td>   <td>44547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.testclosure()[pri:0, instance:tests.LoginTest@d8062c]">&lt;&lt;testclosure</td> 
<td>&nbsp;</td>  <td>main@12533012</td>   <td></td> </tr>
</table>
